<a href="https://colab.research.google.com/github/Sangeetasingh123/Sangeeta/blob/main/comprehensions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# The list of numbers
list_of_numbers = [1,2,4,6,11,14,17,20]

In [ ]:
# Let us first initialize a list where we will be appending the squares in each iteration

squared_numbers = []

for number in list_of_numbers:
  # Use the append method to add the numbers one by one to our list
  squared_numbers.append(number**2)
  # print(squared_numbers)

print(f"The list of squared numbers is {squared_numbers}")

The list of squared numbers is [1, 4, 16, 36, 121, 196, 289, 400]

In [ ]:
# Getting the list of squares using list comprehension
squared_numbers = [number**2 for number in list_of_numbers]
print(squared_numbers)

[1, 4, 16, 36, 121, 196, 289, 400]

In [ ]:
print(list_of_numbers)

[1, 2, 4, 6, 11, 14, 17, 20]

In [ ]:
# Writing list comprehension using conditionals
even_squared_numbers = [number**2 for number in list_of_numbers if number%2==0]
print(even_squared_numbers)

[4, 16, 36, 196, 400]

In [ ]:
list(range(4))

[0, 1, 2, 3]

In [ ]:
list_of_numbers = []

for num1 in range(4):
  for num2 in range(3):
    # print(num1,num2)
    list_of_numbers.append(num2)

  print(list_of_numbers)

[0, 1, 2]
[0, 1, 2, 0, 1, 2]
[0, 1, 2, 0, 1, 2, 0, 1, 2]
[0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2]

In [ ]:
# We can write it in a slightly different way
list_of_numbers = [num2 for num1 in range(4) for num2 in range(3)]
print(list_of_numbers)

[0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2]

In [ ]:
list_of_numbers = [num2**2 for num2 in range(3) for num1 in range(4)]
print(list_of_numbers)

[0, 0, 0, 0, 1, 1, 1, 1, 4, 4, 4, 4]

In [ ]:
sample = [ [] ]
len(sample)

sample[0]

[]

In [ ]:
list_of_lists = []
for num1 in range(4):
  # Append an empty sublist inside the list
  list_of_lists.append([]) # [[0]] , list_of_lists[1]
  # print(list_of_lists)

  for num2 in range(3):
    # Append the elements within the sublist
    list_of_lists[num1].append(num2) #list_of_lists[0]

  print(list_of_lists)

[[0, 1, 2]]
[[0, 1, 2], [0, 1, 2]]
[[0, 1, 2], [0, 1, 2], [0, 1, 2]]
[[0, 1, 2], [0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [ ]:
# Using the list comprehension we can write the same thing
list_of_lists = [[num2 for num2 in range(3)] for num1 in range(4)]
print(list_of_lists)

[[0, 1, 2], [0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [ ]:
# Using the list comprehension we can write the same thing
list_of_lists = [[num1 for num2 in range(3)] for num1 in range(4)]
print(list_of_lists)

[[0, 0, 0], [1, 1, 1], [2, 2, 2], [3, 3, 3]]

In [ ]:
heisenberg_quote = "It ceases to exist without me.No,you clearly don't know who you're talking to,so let me clue you in.I am not in danger"


words_by_walter = list(heisenberg_quote)
print(words_by_walter)

['I', 't', ' ', 'c', 'e', 'a', 's', 'e', 's', ' ', 't', 'o', ' ', 'e', 'x', 'i', 's', 't', ' ', 'w', 'i', 't', 'h', 'o', 'u', 't', ' ', 'm', 'e', '.', 'N', 'o', ',', 'y', 'o', 'u', ' ', 'c', 'l', 'e', 'a', 'r', 'l', 'y', ' ', 'd', 'o', 'n', "'", 't', ' ', 'k', 'n', 'o', 'w', ' ', 'w', 'h', 'o', ' ', 'y', 'o', 'u', "'", 'r', 'e', ' ', 't', 'a', 'l', 'k', 'i', 'n', 'g', ' ', 't', 'o', ',', 's', 'o', ' ', 'l', 'e', 't', ' ', 'm', 'e', ' ', 'c', 'l', 'u', 'e', ' ', 'y', 'o', 'u', ' ', 'i', 'n', '.', 'I', ' ', 'a', 'm', ' ', 'n', 'o', 't', ' ', 'i', 'n', ' ', 'd', 'a', 'n', 'g', 'e', 'r']

In [ ]:
heisenberg_quote.split('t')

['I',
 ' ceases ',
 'o exis',
 ' wi',
 'hou',
 " me.No,you clearly don'",
 " know who you're ",
 'alking ',
 'o,so le',
 ' me clue you in.I am no',
 ' in danger']

In [ ]:
# Let u store the first letter of each word in another list

first_letters = []

for word in words_by_walter:
  first_letters.append(word[0])

# print the first_letters list
print(first_letters)

['I', 't', ' ', 'c', 'e', 'a', 's', 'e', 's', ' ', 't', 'o', ' ', 'e', 'x', 'i', 's', 't', ' ', 'w', 'i', 't', 'h', 'o', 'u', 't', ' ', 'm', 'e', '.', 'N', 'o', ',', 'y', 'o', 'u', ' ', 'c', 'l', 'e', 'a', 'r', 'l', 'y', ' ', 'd', 'o', 'n', "'", 't', ' ', 'k', 'n', 'o', 'w', ' ', 'w', 'h', 'o', ' ', 'y', 'o', 'u', "'", 'r', 'e', ' ', 't', 'a', 'l', 'k', 'i', 'n', 'g', ' ', 't', 'o', ',', 's', 'o', ' ', 'l', 'e', 't', ' ', 'm', 'e', ' ', 'c', 'l', 'u', 'e', ' ', 'y', 'o', 'u', ' ', 'i', 'n', '.', 'I', ' ', 'a', 'm', ' ', 'n', 'o', 't', ' ', 'i', 'n', ' ', 'd', 'a', 'n', 'g', 'e', 'r']

In [6]:
# Suppose we have a tuple of days
days = ('Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday')

tuple(day for day in days)

('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday')

In [7]:
# Let us create a tuple where we want to remove the word 'day' from each tuple element
days_without_day = tuple([day[:-3]for day in days])
print(days_without_day)

('Mon', 'Tues', 'Wednes', 'Thurs', 'Fri', 'Satur', 'Sun')

In [16]:
country_city_list = [('India','New Delhi'),('Australia', 'Canberra'),('United,States','Washington DC'),('England','London')]

# Lets convert the list of tuples to a dictionary
country_city_dict = dict(country_city_list)
print(country_city_dict)

{'India': 'New Delhi', 'Australia': 'Canberra', 'United,States': 'Washington DC', 'England': 'London'}

In [17]:
# The conventional for loop approach
flipped = {}
for country, city in country_city_dict.items():
  flipped[city] = country

print(flipped)

{'New Delhi': 'India', 'Canberra': 'Australia', 'Washington DC': 'United,States', 'London': 'England'}

In [18]:
# The new dictionary comprehension
flipped = { city : country for country , city in country_city_dict.items() if country[0] in ['E','A']}
print(flipped)

{'Canberra': 'Australia', 'London': 'England'}

In [19]:
# The new dictionary comprehension
flipped = {country[:2]: city[-2:] for country, city in country_city_dict.items()}
print(flipped)

{'In': 'hi', 'Au': 'ra', 'Un': 'DC', 'En': 'on'}

In [20]:
print(country_city_dict)

{'India': 'New Delhi', 'Australia': 'Canberra', 'United,States': 'Washington DC', 'England': 'London'}